@model HomePageVM
@{
    ViewBag.Title = "Home Page";
}


    <div class="first-screen">
        <div class="container full-height">
            <div class="row full-height">
                <div class="col-lg-6 col-md-8 col-xs-12 full-height">
                    <div class="first-screen-box">
                        @foreach (var item in Model.Abouts)
                        {

                            <div class="main-avatar">
                                <img src="~/assets/media/first-screen/@item.Photo" alt="">
                            </div>
                            <div class="about-me">
                                <div class="about-title">
                                    <h3>
                                        @item.Head
                                    </h3>
                                </div>
                                <div class="opacity-box">
                                    <p>
                                        @item.AboutText
                                    </p>
                                </div>
                            </div>

                        }

                        <div class="about-me-info hidden-sm hidden-xs">
                            @foreach (var con in Model.Contacts)
                            {
                                <p class="info-row">
                                    <span class="span-title">Phone</span>
                                    <span class="opacity-box">
                                        <a href="tel:@con.Mobile">@con.Mobile</a>
                                    </span>
                                </p>
                                <p class="info-row">
                                    <span class="span-title">Email</span>
                                    <span class="opacity-box">
                                        <a href="mailto:@con.Email">@con.Email</a>

                                    </span>
                                </p>
                                <p class="info-row">
                                    <span class="span-title">Address</span>
                                    <span class="opacity-box">
                                        <a class="map-link" href="open-google-map.html">@con.Adress</a>
                                    </span>
                                </p>
                            }

                            <p class="info-row">
                                <span class="span-title">Social</span>
                                <span>

                                    @foreach (var social in Model.UserLinks)
                                    {
                                        <a target="_blank" href="@social.Url" class="fa fonts-icons mdi mdi-@social.Name"></a>
                                    }
                                </span>
                            </p>
                        </div>
                        <div class="first-screen-buttons">
                            <a class="site-btn btn-theme-white" href="#" data-toggle="modal" data-target="#contact-me-modal">Contact me</a>
                            <a class="site-btn btn-theme-white-tr hidden-sm hidden-xs" href="download/Resume.pdf" download>Download cv</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="projects" class="projects-section section">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3>Projects</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="projects-filter">
                        <ul class="list-inline">
                            <li class="active" data-filter="*">All projects</li>
                            @foreach (var item in Model.ProjectTypes)
                            {
                                <li data-filter=".@item.Type">@item.Name</li>
                            }

                        </ul>
                    </div>
                </div>
            </div>

            <div class="row projects-wrapper">
                @foreach (var proj in Model.Projects)
                {
                    <div class="col-sm-6 col-xs-12 project-item @proj.ProjectType.Type.ToLower()">
                        <a href="@Url.Action("details","projects",new { slug=proj.Slug })" class="project">
                            <div class="project-img">
                                <img src="~/assets/media/projects/@proj.Photo" alt="">
                            </div>
                            <div class="project-name">
                                <h5>@proj.HeadName</h5>
                            </div>
                            <div class="project-date">
                                <p>@proj.PostedTime.Date.ToShortDateString()</p>
                            </div>
                        </a>
                    </div>
                }

                <div class="col-sm-6 col-xs-12 project-item mob-apps">
                    <a href="02_richard_project.html" class="project">
                        <div class="project-img">
                            <img src="~/assets/media/projects/img_2.jpg" alt="">
                        </div>
                        <div class="project-name">
                            <h5>Full UI redesign of my custom Android music player</h5>
                        </div>
                        <div class="project-date">
                            <p>March, 2017</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xs-12 project-item web-apps">
                    <a href="02_richard_project.html" class="project">
                        <div class="project-img">
                            <img src="~/assets/media/projects/img_5.jpg" alt="">
                        </div>
                        <div class="project-name">
                            <h5>Redesign of MOOOV’s iOS app</h5>
                        </div>
                        <div class="project-date">
                            <p>December, 2016</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xs-12 project-item prototyping">
                    <a href="02_richard_project.html" class="project">
                        <div class="project-img">
                            <img src="~/assets/media/projects/img_6.jpg" alt="">
                        </div>
                        <div class="project-name">
                            <h5>UI\UX design of small blogger social app</h5>
                        </div>
                        <div class="project-date">
                            <p>November, 2016</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xs-12 project-item mob-apps">
                    <a href="02_richard_project.html" class="project">
                        <div class="project-img">
                            <img src="~/assets/media/projects/img_3.jpg" alt="">
                        </div>
                        <div class="project-name">
                            <h5>Recipe book Android app UI design for small startup</h5>
                        </div>
                        <div class="project-date">
                            <p>August, 2016</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xs-12 project-item prototyping">
                    <a href="02_richard_project.html" class="project">
                        <div class="project-img">
                            <img src="~/assets/media/projects/img_7.jpg" alt="">
                        </div>
                        <div class="project-name">
                            <h5>Personal page template UI\UX design</h5>
                        </div>
                        <div class="project-date">
                            <p>July, 2016</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    
