@{
    Setting setting = ViewBag.Setting as Setting;
    Contact contact = ViewBag.Contact as Contact;
    About about = ViewBag.About as About;
    List<UserLink> userLinks = ViewBag.UserLinks as List<UserLink>;
}


<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href="~/assets/jquery.mCustomScrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/master.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/color.css">

</head>
<body>

    <!-- Loader -->
    <div id="page-preloader"><span class="spinner"></span></div>
    <!-- Loader end -->
    <!-- Header -->
    <header class="header header-home">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-8">
                    <a href="@Url.Action("index","home")" class="logo">
                        <div class="header-avatar">
                            <img src="~/assets/media/first-screen/@setting.Logo" alt="">
                        </div>
                        <span class="point">@setting.HomeHead</span>
                    </a>
                </div>
                <div class="col-md-9 text-right hidden-sm hidden-xs">
                    <div class="main-menu header-links">
                        <ul>
                            <li><a href="#projects">My Projects</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#about-me-modal">About Me</a></li>
                            <li><a href="download/Resume.pdf" download>Download CV</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#contact-me-modal">Contact me</a></li>
                        </ul>
                    </div>
                    <div class="change-lng header-links">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4 hidden-lg hidden-md">
                    <div class="mobile-btn">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header -->
    <!-- Mobile menu -->
    <div class="mob-menu-wrapper hidden-md hidden-lg">
        <div class="close-mob-menu">
            <span class="mdi mdi-window-close"></span>
        </div>
        <div class="mobile-box-wrap">
            <div class="mobile-box-flex">
                <div class="mobile-menu header-links">
                    <ul>
                        <li><a href="#projects">My Projects</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#about-me-modal">About Me</a></li>
                        <li><a href="download/Resume.pdf" download>Download CV</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#contact-me-modal">Contact me</a></li>
                    </ul>
                </div>
                <div class="change-lng header-links">
                    <ul>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- Mobile menu -->
    <div class="wrapper">

        @RenderBody()

        <div class="contacts-section section">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3>
                                @contact.HeaderName
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="row">

                    
                        <div class="col-md-6">
                            <div class="opacity-box contact-text">
                                <p>
                                    @contact.ContactSecondText
                                </p>
                            </div>
                            <div class="about-me-info">

                                <p class="info-row">
                                    <span class="span-title">Phone</span>
                                    <span class="opacity-box">
                                        <a href="@contact.Phone">@contact.Phone</a>
                                    </span>
                                </p>

                                <p class="info-row">
                                    <span class="span-title">Email</span>
                                    <span class="opacity-box">
                                        <a href="mailto:@contact.Email?Subject=Hello">@contact.Email</a>
                                    </span>
                                </p>
                                <p class="info-row">
                                    <span class="span-title">Address</span>
                                    <span class="opacity-box">
                                        <a class="map-link" href="open-google-map.html">@contact.Adress</a>
                                    </span>
                                </p>

                                <p class="info-row">
                                    <span class="span-title">Social</span>
                                    <span>
                                        @foreach (var social in Model.UserLinks)
                                        {
                                            <a target="_blank" href="@social.Url" class="fa fonts-icons mdi mdi-@social.Name"></a>
                                        }

                                    </span>
                                </p>
                            </div>
                        </div>

                    



                    <div class="col-md-6">
                        <div class="form-wrapper">
                            <form id="contact-form" novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name-input">Name</label>
                                            <input type="text"
                                                   class="site-input name-input"
                                                   id="name-input"
                                                   placeholder="Your name"
                                                   required
                                                   data-validation-required-message="Invalid input">
                                            <p class="help-block"></p>
                                            <p class="help-block-success">done</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email-input">E-mail</label>
                                            <input type="email"
                                                   class="site-input email-input"
                                                   id="email-input"
                                                   placeholder="Contact e-mail"
                                                   required
                                                   data-validation-email-message="Invalid input"
                                                   data-validation-required-message="Invalid input">
                                            <p class="help-block"></p>
                                            <p class="help-block-success">done</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="textarea">Message</label>
                                            <textarea id="textarea"
                                                      class="site-input textarea"
                                                      placeholder="Project description"
                                                      required
                                                      data-validation-required-message="Invalid input"></textarea>
                                            <p class="help-block"></p>
                                            <p class="help-block-success">done</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="submit-holder">
                                            <input class="site-btn btn-theme-blue" type="submit" value="Send message">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>@setting.FooterText</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Modal about me -->
        <div class="modal fade" id="about-me-modal" tabindex="-1" role="dialog" aria-labelledby="about-me-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="about-me">
                            <div class="about-title">
                                <h3>About me</h3>
                            </div>
                            <div class="opacity-box">
                                <p>

                                    @about.AboutSecondText
                                </p>
                            </div>
                        </div>
                        <div class="about-me-info">
                            <p class="info-row">
                                <span class="span-title">Phone</span>
                                <span class="opacity-box">
                                    <a href="tel:@contact.Phone">@contact.Phone</a>
                                </span>
                            </p>
                            <p class="info-row">
                                <span class="span-title">Email</span>
                                <span class="opacity-box">
                                    <a href="mailto:@contact.Email">@contact.Email</a>
                                </span>
                            </p>
                            <p class="info-row">
                                <span class="span-title">Address</span>
                                <span class="opacity-box">
                                    <a class="map-link" href="open-google-map.html">@contact.Adress</a>
                                </span>
                            </p>
                            <p class="info-row">
                                <span class="span-title">Social</span>
                                <span>
                                    @foreach (var item in userLinks)
                                    {
                                        <a target="_blank" href="@item.Url" class="fa fonts-icons mdi mdi-@item.Name.ToLower()"></a>
                                    }

                                </span>
                            </p>
                        </div>
                        <div class="modal-img">
                            <img src="~/assets/media/modal-about-me/@about.SecondPhoto" alt="">
                        </div>
                        <div class="resume-box">
                            <div class="resume-title">
                                <h4>@about.ExperienceHead</h4>
                            </div>
                            <div class="resume-desc opacity-box">
                                <p>
                                    @about.ExperienceText
                                </p>
                            </div>
                            @foreach (var exp in about.Experiences)
                            {
                                <div class="resume-info">
                                    <div class="resume-info-title">
                                        <h5>@exp.Position @@ @exp.ExperienceCO</h5>
                                    </div>
                                    <div class="resume-info-desc opacity-box">
                                        <p>
                                            @exp.ExperienceCOText
                                        </p>
                                    </div>
                                    <div class="resume-date opacity-box">
                                        <p>@exp.ExperienceCODate</p>
                                    </div>
                                </div>
                            }


                        </div>

                        <div class="resume-box">
                            <div class="resume-title">
                                <h4>@about.EducationHead</h4>
                            </div>
                            <div class="resume-desc opacity-box">
                                <p>
                                    @about.EducationText
                                </p>
                            </div>
                            @foreach (var edu in about.Educations)
                            {
                                <div class="resume-info">
                                    <div class="resume-info-title">
                                        <h5>@edu.Department @@ @edu.SchoolOrUni</h5>
                                    </div>
                                    <div class="resume-info-desc opacity-box">
                                        <p>
                                            @edu.EducationText
                                        </p>
                                    </div>
                                    <div class="resume-date opacity-box">
                                        <p>@edu.EducationDate</p>
                                    </div>
                                </div>
                            }


                        </div>
                        <div class="modal-buttons">
                            <a class="site-btn btn-theme-blue" href="#" data-dismiss="modal" data-toggle="modal" data-target="#contact-me-modal">Contact me</a>
                            <a class="site-btn btn-theme-blue-tr" href="#" data-dismiss="modal" aria-hidden="true">Back to cv</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal about me -->
        <!-- Modal contact me -->
        <div class="modal fade" id="contact-me-modal" tabindex="-1" role="dialog" aria-labelledby="contact-me-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="about-me">
                            <div class="about-title">
                                <h3>@contact.HeaderName</h3>
                            </div>
                            <div class="opacity-box">
                                <p>
                                    @contact.ContactText
                                </p>
                            </div>
                        </div>
                        <div class="form-wrapper">
                            <form id="modal-form" novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name-modal">Name</label>
                                            <input type="text"
                                                   class="site-input name-input"
                                                   id="name-modal"
                                                   placeholder="Your name"
                                                   required
                                                   data-validation-required-message="Invalid input">
                                            <p class="help-block"></p>
                                            <p class="help-block-success">done</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email-modal">E-mail</label>
                                            <input type="email"
                                                   class="site-input email-input"
                                                   id="email-modal"
                                                   placeholder="Contact e-mail"
                                                   required
                                                   data-validation-email-message="Invalid input"
                                                   data-validation-required-message="Invalid input">
                                            <p class="help-block"></p>
                                            <p class="help-block-success">done</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="textarea-modal">Message</label>
                                            <textarea id="textarea-modal"
                                                      class="site-input textarea"
                                                      placeholder="Project description"
                                                      required
                                                      data-validation-required-message="Invalid input"></textarea>
                                            <p class="help-block"></p>
                                            <p class="help-block-success">done</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="modal-buttons">
                                            <input class="site-btn btn-theme-blue" type="submit" value="Send message">
                                            <a class="site-btn btn-theme-blue-tr" href="#" data-dismiss="modal" aria-hidden="true">Back to cv</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal contact me -->
        <!-- Modal send message -->
        <div class="modal fade" id="send-message-modal" tabindex="-1" role="dialog" aria-labelledby="send-message-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="about-me">
                            <div class="about-title">
                                <h3>Your message has been sent!</h3>
                            </div>
                            <div class="opacity-box">
                                <p>
                                    Thank you for your interest in my work. I'll contact you just in a few days.
                                    Stay tuned and see you soon, friend!
                                </p>
                            </div>
                        </div>
                        <div class="modal-buttons">
                            <a class="site-btn btn-theme-blue" href="#" data-dismiss="modal" aria-hidden="true">Back to cv</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal send message -->

        <script src="~/assets/js/jquery-2.2.3.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>

        <script src="~/assets/js/jquery.placeholder.min.js"></script>

        <!--Isotope-->
        <script src="~/assets/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="~/assets/isotope/isotope.pkgd.min.js"></script>

        <!--Gradient-->
        <script src="~/assets/gradient/gradient.js"></script>

        <!--Highcharts-->
        <script src="~/assets/highcharts/highcharts.js"></script>
        <script src="~/assets/highcharts/data.js"></script>
        <script src="~/assets/highcharts/exporting.js"></script>

        <!--jquery.custom-scroll-->
        <script src="~/assets/jquery.mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

        <!--social likes-->
        <script src="~/assets/social-likes/social-likes.min.js"></script>

        <!--Smooth Scroll-->
        <script src="~/assets/smoothscroll-for-websites/SmoothScroll.js"></script>

        <!--jqBootstrapValidation-->
        <script src="~/assets/contact/jqBootstrapValidation.js"></script>
        <script src="~/assets/contact/contact_me.js"></script>

        <!--THEME-->
        <script src="~/assets/js/theme.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139591409-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-139591409-1');
        </script>
</body>

</html>
